@model List<Category>
@{
    ViewBag.Title = "Create";
}

<h2>Create Product</h2>

<form id="createProductForm">

    <label>Category</label>
    <select name="CategoryID">
        @foreach (var category in Model)
        {
            <option value="@category.ID">@category.Name</option>
        }
    </select>
    <br />
    <label>Name</label>
    <input name="Name" />
    <br />
    <label>Description</label>
    <input name="Description" />
    <br />
    <label>Price</label>
    <input name="Price" />
    <br />

    <button type="button" id="createBtn">Save</button>
</form>

<script>
    $("#createBtn").click(function () {
        
        $.ajax({
            type: 'POST',
            url: '/Product/Create',
            data: $("#createProductForm").serialize()
        })
            .done(function (response) {
                $("#tableCont").html(response);
                $("#actionCont").html("");
            })
            .fail(function (XMLHttpRequest, textStatus, errorThrown) {
                alert("Fail");
            });
    });

</script>
 