
@{
    ViewBag.Title = "Index";
}

<div class="container">

    <div id="tableCont">

        @{
            Html.RenderAction("ProductTable");
        }

    </div>

    <div id="actionCont">

    </div>

</div>
