@model List<Category>
@{
    ViewBag.Title = "CategoryTable";
}

<!--New Category create form-->
<div class="my-4">
    <form method="post">
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <button type="button" id="btnNewCategory"> New </button>
                </div>
            </div>
        </div>
    </form>
</div>

<h2>CategoryTable</h2>

<div>
    <table class="table table-striped">
        <thead>
            <tr>
                <td> Name </td>
                <td> Description </td>
                <td> Image </td>
            </tr>
        </thead>
        <tbody>
            @foreach (var category in Model)
            {
                <tr>
                    <td> @category.Name </td>
                    <td> @category.Description </td>
                    <td> Image not avaliable because not set in View. </td>
                    <td>
                        <button type="button" class="editBtn" data-id="@category.ID">Edit</button>
                        <button type="button" class="deleteBtn" data-id="@category.ID">Delete</button>
                    </td>
                </tr>
            }
        </tbody>
    </table>

</div>

<script>

    $(".editBtn").click(function () {
        //debugger;
        $.ajax({
            type: 'GET',
            url: '/Category/Edit',
            data: {
                ID: $(this).attr('data-id')
            }
        })
            .done(function (response) {
                $("#categoryActionCont").html(response);
            })
            .fail(function (XMLHttpRequest, textStatus, errorThrown) {
                alert("Fail");
            });
    });

    $(".deleteBtn").click(function () {
        //debugger;
        var confirmDelete = confirm("Are you sure want to delete this product.");
        if (confirmDelete) {
            $.ajax({
                type: 'POST',
                url: '/Category/Delete',
                data: {
                    ID: $(this).attr('data-id') // define custom attribute for using unique value in foreach loop
                }
            })
                .done(function (response) {
                    $("#categoryTableCont").html(response);
                })
                .fail(function (XMLHttpRequest, textStatus, errorThrown) {
                    alert("Fail");
                });
        }

    });

    $("#btnNewCategory").click(function () {

        $.ajax({
            type: 'GET',
            url: '/Category/Create',
        })
            .done(function (response) {
                console.log(response);
                $("#categoryActionCont").html(response);
            })
            .fail(function (XMLHttpRequest, textStatus, errorThrown) {
                alert("Fail");
            });
    });


</script>