@model ClothBazar.Entities.Category
@{
    ViewBag.Title = "Edit";
}

<h2>Edit Category</h2>

<form id="editCategoryForm">
    <label>ID</label>
    <input type="hidden" name="ID" value="@Model.ID" />
    <br />
    <label>Name</label>
    <input name="Name" value="@Model.Name" />
    <br />
    <label>Description</label>
    <input name="Description" value="@Model.Description" />
    <br />
    <button id="btnUpdateCategory" type="button">Save</button>
</form>


<script>
    $("#btnUpdateCategory").click(function () {

        $.ajax({
            type: 'POST',
            url: '/Category/Edit',
            data: $("#editCategoryForm").serialize()
        })
            .done(function (response) {
                $("#categoryTableCont").html(response);
                $("#categoryActionCont").html("");
            })
            .fail(function (XMLHttpRequest, textStatus, errorThrown) {
                alert("Fail");
            });
    });

</script>
