
@{
    ViewBag.Title = "Index";
}

<div class="container">

    <div id="categoryTableCont">

        @{
            Html.RenderAction("CategoryTable");
        }

    </div>

    <div id="categoryActionCont">

    </div>

</div>